@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  background: linear-gradient(153deg, #0A9767 0%, #12191e 45%);
}

.todo-app {
  max-width: 40em;
  width: 100%;
  margin: 3em auto;
  font-family: "Raleway", sans-serif;
}
.todo-app__todos {
  max-height: 26.25em;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-right: 0.625em;
  padding-left: 0.75em;
}
.todo-app__todos::-webkit-scrollbar {
  width: 0.125em;
}
.todo-app__todos::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.625em;
}
.todo-app__todos::-webkit-scrollbar-thumb:hover {
  background: #0A9767;
  cursor: pointer;
}
.todo-app__title {
  font-size: 1.5em;
}
.todo-app__search-label {
  color: #747579;
}
.todo-app__header {
  max-height: 15em;
  height: 100%;
  margin-bottom: 1em;
}
.todo-app__summary {
  margin-bottom: 1.625em;
}
.todo-app__summary, .todo-app__title {
  text-align: center;
}
.todo-app__header, .todo-app__container {
  border-radius: 0.625em;
  background-color: #1E252B;
  padding: 1.875em 8.25em;
}
.todo-app__item-link {
  max-width: 18.375em;
  word-break: break-all;
}
.todo-app__item-link, .todo-app__item-text {
  font-size: 1em;
  line-height: 1.625em;
}
.todo-app__item {
  display: flex;
  justify-content: space-between;
  margin: 0.438em 0;
}
.todo-app__item-new {
  width: 100%;
  margin-top: 1.625em;
}
.todo-app__name {
  width: 69%;
}
.todo-app__search {
  width: 90%;
  margin: 0.5em 0 1.75em;
}
.todo-app__name, .todo-app__search {
  padding: 0.625em 1em;
  border-radius: 0.25em;
  border: 0.125em solid rgba(255, 255, 255, 0.5);
  background-color: #1E252B;
  outline: none;
  color: #747579;
  font-size: 0.875em;
  line-height: 1.5em;
}
.todo-app__name:focus, .todo-app__search:focus {
  border-color: #0A9767;
}
.todo-app__button-add, .todo-app__custom-container, .todo-app__summary, .todo-app__title {
  color: #fff;
}
.todo-app__button-remove {
  width: 1.5em;
  height: 1.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: url("/assets/ic_delete.svg");
  background-size: cover;
}
.todo-app__button-add {
  font-size: 0.875em;
  padding: 1em 1.125em;
  background-color: #0A9767;
  border-radius: 0.25em;
  border: 0;
  cursor: pointer;
  width: 100%;
  max-width: 5.225em;
  overflow: hidden;
}

.todo-app__custom-container {
  display: block;
  position: relative;
  padding-left: 2.188em;
  margin-bottom: 0.75em;
  cursor: pointer;
  font-size: 1.375em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.todo-app__item-status {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.todo-app__custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.313em;
  width: 1.313em;
  border: 0.125em solid #0A9767;
  border-radius: 0.25em;
}
.todo-app__custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.todo-app__custom-container .todo-app__item-status:checked ~ .todo-app__custom-checkbox:after {
  display: block;
}
.todo-app__custom-container .todo-app__item-status:checked ~ .todo-app__custom-checkbox {
  background-color: #0A9767;
}
.todo-app__custom-container:hover .todo-app__item-status ~ .todo-app__custom-checkbox {
  cursor: pointer;
}
.todo-app__custom-container .todo-app__custom-checkbox:after {
  left: 0.438em;
  top: 0.125em;
  width: 0.375em;
  height: 0.75em;
  border: solid #1E252B;
  border-width: 0 0.125em 0.125em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*# sourceMappingURL=styles.css.map */
