// Font import
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

// Common styles reset
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

//Variables
$app-white: #fff;
$app-half-transparent-white: rgba(255, 255, 255, .5);
$app-dark: #1E252B;
$app-grey: #747579;
$app-green: #0A9767;

body {
  height: 100vh;
  background: $app-green;
  background: linear-gradient(112deg, #0A9767 0%, #1E252B 62%);
}

.todo-app {
  max-width: 640px;
  width: 100%;
  margin: 104px auto;
  font-family: 'Raleway', sans-serif;

  &__todos {
    max-height: 420px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: $app-white;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $app-green; 
      cursor: pointer;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__search-label {
    color: $app-grey;
  }

  &__header {
    max-height: 240px;
    height: 100%;
    margin-bottom: 1em;
  }

  &__summary {
    margin-bottom: 26px;
  }

  &__summary,
  &__title {
    text-align: center;
  }

  &__header,
  &__container {
    border-radius: 10px;
    background-color: $app-dark;
    padding: 30px 132px;
    border: 2px solid $app-half-transparent-white;
  }

  &__item-link,
  &__item-text {
    font-size: 16px;
    line-height: 26px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    &-new {
      width: 100%;
      margin-top: 26px;
    }
  }

  &__name {
    width: 69%;
  }

  &__search {
    width: 90%;
    margin: 8px 0 28px;
  }

  &__name,
  &__search {
    padding: 10px 16px;
    border-radius: 4px;
    border: 2px solid $app-half-transparent-white;
    background-color: $app-dark;
    outline: none;
    color: $app-grey;
    font-size: 14px;
    line-height: 24px;

    &:focus {
      border-color: $app-green;
    }
  }

  &__button-add,
  &__custom-container,
  &__summary,
  &__title {
    color: $app-white;
  }

  &__button {
    &-remove {
      width: 24px;
      height: 24px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      background: url('/assets/ic_delete.svg');
      background-size: cover;
    }

    &-add {
      font-size: 14px;
      padding: 16px 18px;
      background-color: $app-green;
      border-radius: 4px;
      border: 0;
      cursor: pointer;
    }
  }
}

.todo-app {
  &__custom-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__item-status {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 2px solid $app-green;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__custom-container {
    .todo-app__item-status:checked ~ .todo-app__custom-checkbox:after {
      display: block;
    }
    
    .todo-app__item-status:checked ~ .todo-app__custom-checkbox {
      background-color: $app-green;
    }

    &:hover .todo-app__item-status ~ .todo-app__custom-checkbox {
      cursor: pointer;
    }

    .todo-app__custom-checkbox:after {
      left: 7px;
      top: 2px;
      width: 6px;
      height: 12px;
      border: solid $app-dark;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}