// Font import
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

// Common styles reset
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

//Variables
$app-white: #fff;
$app-dark: #1E252B;
$app-grey: #747579;
$app-green: #0A9767;
$app-half-transparent-white: rgba(255, 255, 255, .5);

//Styles
html {
  height: 100vh;
  background: linear-gradient(153deg, $app-green 0%, #12191e 45%);
}

.todo-app {
  max-width: 40em;
  width: 100%;
  margin: 3eь auto;
  font-family: 'Raleway', sans-serif;

  &__todos {
    max-height: 26.25em;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-right: .625em;
    padding-left: .75em;

    &::-webkit-scrollbar {
      width: .125em;
    }

    &::-webkit-scrollbar-thumb {
      background: $app-half-transparent-white;
      border-radius: .625em;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $app-green; 
      cursor: pointer;
    }
  }

  &__title {
    font-size: 1.5em;
  }

  &__search-label {
    color: $app-grey;
  }

  &__header {
    max-height: 15em;
    height: 100%;
    margin-bottom: 1em;
  }

  &__summary {
    margin-bottom: 1.625em;
  }

  &__summary,
  &__title {
    text-align: center;
  }

  &__header,
  &__container {
    border-radius: .625em;
    background-color: $app-dark;
    padding: 1.875em 8.25em;
  }

  &__item-link {
    max-width: 18.375em;
    word-break: break-all;
  }

  &__item-link,
  &__item-text {
    font-size: 1em;
    line-height: 1.625em;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: .438em 0;
    &-new {
      width: 100%;
      margin-top: 1.625em;
    }
  }

  &__name {
    width: 69%;
  }

  &__search {
    width: 90%;
    margin: .5em 0 1.75em;
  }

  &__name,
  &__search {
    padding: .625em 1em;
    border-radius: .25em;
    border: .125em solid $app-half-transparent-white;
    background-color: $app-dark;
    outline: none;
    color: $app-grey;
    font-size: .875em;
    line-height: 1.5em;

    &:focus {
      border-color: $app-green;
    }
  }

  &__button-add,
  &__custom-container,
  &__summary,
  &__title {
    color: $app-white;
  }

  &__button {
    &-remove {
      width: 1.5em;
      height: 1.5em;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      background: url('/assets/ic_delete.svg');
      background-size: cover;
    }

    &-add {
      font-size: .875em;
      padding: 1em 1.125em;
      background-color: $app-green;
      border-radius: .25em;
      border: 0;
      cursor: pointer;
      width: 100%;
      max-width: 5.225em;
      overflow: hidden;
    }
  }
}

.todo-app {
  &__custom-container {
    display: block;
    position: relative;
    padding-left: 2.188em;
    margin-bottom: .75em;
    cursor: pointer;
    font-size: 1.375em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__item-status {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.313em;
    width: 1.313em;
    border: .125em solid $app-green;
    border-radius: .25em;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__custom-container {
    .todo-app__item-status:checked ~ .todo-app__custom-checkbox:after {
      display: block;
    }
    
    .todo-app__item-status:checked ~ .todo-app__custom-checkbox {
      background-color: $app-green;
    }

    &:hover .todo-app__item-status ~ .todo-app__custom-checkbox {
      cursor: pointer;
    }

    .todo-app__custom-checkbox:after {
      left: .438em;
      top: .125em;
      width: .375em;
      height: .75em;
      border: solid $app-dark;
      border-width: 0 .125em .125em 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}